* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1F2937;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #E5E7E8;
    font-size: 18px;
}

#first-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px 150px;
    gap: 20px;
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.description h1 {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.description p {
    font-size: 18px;
    color: #E5E7E8;
}

.description button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
}

.description button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.description-image {
    display: flex;
    flex: 1;
}

.description-image img {
    background-color: gray;
    height: 180px;
    width: 400px;
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.second-section-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.second-section-list li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-image img {
    width: 100%;
    height: 160px;
}

.list-image {
    width: 100%;
    height: 160px;
}

#third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7E8;
    padding: 150px 350px;
    gap: 20px;
}

#third-section p {
    font-size: 36px;
    color: #1F2937;
    weight: 300;
    font-style: italic;
}

#third-section h1 {
    text-align: right;
}

#fourth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.box {
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.box-left-side {
    flex: 12;
    display: flex;
    flex-direction: column;
}

.box-left-side h1 {
    font-size: 24px;
    color: #F9F1F8;
}

.box-left-side p {
    font-size: 18px;
    color: #E5E7E8;
}

.box-right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-right-side button{
    border: 4px solid #F9F1F8;
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 24px;
    color: #F9F1F8;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.box-right-side button:hover {
    background-color: #F9F1F8;
    color: #3882F6;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100px;
}

#footer {
    color: #F9F1F8;
    font-size: 24px;
}