* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1F2937;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #E5E7E8;
    font-size: 18px;
}

#first-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.description h1 {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.description p {
    font-size: 18px;
    color: #E5E7E8;
}

.description button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
}

.description button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.description-image {
    display: flex;
    flex: 1;
}

.description-image img {
    background-color: gray;
    height: 180px;
    width: 400px;
}